<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Grafico de cotizaciones</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/']">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="grafico">
    <canvas baseChart #baseChart="base-chart" width="300" height="450" [data]="servicio.lineChartData"
    [options]="servicio.lineChartOptions"
    [type]="servicio.lineChartType"
    (chartHover)="servicio.chartHovered($event)"
    (chartClick)="servicio.chartClicked($event)">></canvas>
  </div>
  <div>
    <ion-button color="success" expand="block" (click)="cambiar()">{{tituloCambiar}}</ion-button>
  </div>
</ion-content>
