<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Bolsa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-button color="success" expand="block" routerDirection="back" [routerLink]="['/edicion', -1]">Crear empresa</ion-button>
    <ion-button color="primary" expand="block" [disabled]="checkeds < limit" (click)="consolidar()">Mostrar gráfico</ion-button>      
  </ion-toolbar>
    <ion-button (click)="toggleInfiniteScroll()" expand="block" color="dark">
      {{toggle}}
    </ion-button>
    <ion-searchbar (ionChange)="searching($event)" color="medium" showCancelButton="focus" animated></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of servicio.empresas" [ngClass]="{'destaca': item.destacada}">
        <ion-item-sliding>
          <ion-item [ngClass]="{'destaca': item.destacada}">
            <ion-checkbox color="dark" [(ngModel)]="item.isChecked" (click)="comprobar(item)" [disabled]="!item.isChecked && checkeds === limit"></ion-checkbox>
            <ion-label class="labelEmpresa">
              {{item.nombre}}
            </ion-label>
            <ion-thumbnail><img class="imagen" src={{item.logo}}></ion-thumbnail>
          </ion-item>
          <ion-item-options>
            <ion-item-option color="primary" routerDirection="back" [routerLink]="['/edicion', item.id]">
              <ion-icon slot="end" name="pencil"></ion-icon>
              Editar
            </ion-item-option>
            <ion-item-option color="danger" (click)="presentAlertConfirm(item.id)">
              <ion-icon slot="end" name="trash"></ion-icon>
              Borrar
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="ultima">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Cargando datos…">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  <div id="container">
  </div>
</ion-content>
