ion-item {
    margin-bottom: 16px;
}
ion-input {
    --padding-start: 10px !important;
    border: solid;
    border-color: black;
    border-width: 1px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 3px 3px 3px;
}
ion-col {
    margin-bottom: -6px;
    margin-top: 1px;
}